<app-pageheader></app-pageheader>




<!-- Contacts Start -->

<!-- Contacts-- End -->

<!--
desi
-->



<!-- Section: Design Block -->


         
<!-- Section: Design Block -->
<section class="">
 <!-- Jumbotron -->
 <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
   <div class="container">
     <div class="row gx-lg-5 align-items-center">
       <div class="col-lg-6 mb-5 mb-lg-0">
         <h1 class="my-5 display-3 fw-bold ls-tight">
              
           <span class="text-orange" 
           style="color: #E93C05;">  Inscription  marchand</span>
         </h1>
         <p style="color: hsl(217, 10%, 50.8%)">
             Vous êtes un commerçant?<br>

             Vous souhaitez integrer le paiement éléctronique à votre boutique en ligne?<br>
             
             Venez vous inscrire  et bénéficier d'un espace professionnel complet.<br>
         </p>
       </div>

       <div class="col-lg-6 mb-5 mb-lg-0">
         <div class="card">
           <div class="card-body py-5 px-md-5">
             <form>
               <!-- 2 column grid layout with text inputs for the first and last names -->
          

               <!-- Email input -->
               <div class="form-outline mb-4">
                 <label class="form-label" for="form3Example3" >Numéro de compte</label>
                 <input type="text" id="form3Example3" class="form-control" placeholder="Numéro de compte (MAR)" />
               
               </div>

               <!-- Password input -->
               <div class="form-outline mb-4">
                 <label class="form-label" for="form3Example4">Mot de passe</label>
                 <input type="password" id="form3Example4" class="form-control" />
               
               </div>

            
               <!-- Submit button -->
            
               <div class="d-flex justify-content-center">
                 
                   <div class="text-left">
                     <a routerLink="" class="small"  style="color: #E93C05;">Mot de passe oublié</a>
                   </div>
            
                 <button type="submit" class="btn btn-primary btn-block mb-4 mx-auto ml-auto">
                   Connecter
                 </button>
                 <a routerLink="/loginprof">
                 <button type="submit" class="btn btn-primary btn-block mb-4 mx-auto">
                   
                     
                   S'inscrire
              
                 </button>
             </a>
               </div>
       
               <!-- Register buttons -->
               <div class="text-center" >
                 <p>or sign up with:</p>
                 <button type="button" class="btn btn-link btn-floating mx-1">
                   <i class="fab fa-facebook-f"></i>
                 </button>

                 <button type="button" class="btn btn-link btn-floating mx-1">
                   <i class="fab fa-google"></i>
                 </button>

                 <button type="button" class="btn btn-link btn-floating mx-1">
                   <i class="fab fa-twitter"></i>
                 </button>

                 <button type="button" class="btn btn-link btn-floating mx-1">
                   <i class="fab fa-github"></i>
                 </button>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->


 <!-- Back to Top -->
 <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
         class="bi bi-arrow-up"></i></a>

