<div class="clearfix"></div>
  
<section class="sec-padding text-center">
    <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3 class="uppercase">NOS SERVICES</h3>
        <div class="title-line-4 less-margin align-center"></div>
        <p class="sub-title-4">La solution de paiement qui va faire évoluer votre business</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-8 col-sm-12 col-xs-12" style="margin: 0 auto;">
        <div class="col-md-6">
          <div class="feature-box70 bmargin">
            <div class="icon-plain-small left white"><img src="/assets/img/aa.jpg"  style="width: 50px; height: 50px;"></div>
            <div class="text-box-right text-left less-padding-1">
              <h4 class="text-white">Solution E-commerce</h4>
              <p>GpgCheckout  est une solution de paiement électronique destinée à tout marchand</p>
            </div>
          </div>
        </div>
        <!--end item-->
        <div class="col-md-6">
          <div class="feature-box70 active bmargin">
            <div class="icon-plain-small left white"><img src="/assets/img/icon.jpg"  style="width: 50px; height: 50px;"></div>
            <div class="text-box-right text-left less-padding-1">
              <h4 class="text-white">Sécurié Et Garantit</h4>
              <p>GPG garantit un environnement de paiement conforme aux réglementations VISA et MasterCard.</p>
            </div>
          </div>
        </div>
        <!--end item-->
        <div class="col-divider-margin-3"></div>
        <div class="col-md-6">
          <div class="feature-box70 bmargin">
            <div class="icon-plain-small left white"><img src="/assets/img/kk.jpg"  style="width: 50px; height: 50px;"></div>
            <div class="text-box-right text-left less-padding-1">
              <h4 class="text-white">Kit de Paiement</h4>
              <p>GpgCheckout est une solution de paiement électronique gratuite et très simple à manipuler</p>
            </div>
          </div>
        </div>
        <!--end item-->
        <div class="col-md-6">
          <div class="feature-box70 bmargin">
            <div class="icon-plain-small left white"><img src="/assets/img/bb.jpg"  style="width: 50px; height: 50px;"></div>
            <div class="text-box-right text-left less-padding-1">
              <h4 class="text-white">CyberAchateurs</h4>
              <p>GPG permet aux consommateurs d’avoir un espace spécifique pour pouvoir suivre toutes les transactions.</p>
            </div>
          </div>
        </div>
        <!--end item--> 
      </div>
      
