<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <p class="d-inline-block border rounded text-orange fw-semi-bold py-1 px-3" style="color: #E93C05;"
                >Contactez Nous
                </p>
                <h1>SOYEZ NOTRE PROCHAIN CONTACT ET BOUSTEZ VOTRE CHIFFRE D'AFFAIRE

                </h1>
                
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Nom</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Addresse E-mail</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">Sujet</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Téléphone">
                                <label for="Téléphone">Téléphone</label>
                            </div>
                        </div>





                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message"
                                    style="height: 100px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-orange py-3 px-5 me-2" type="submit">Envoyer </button>
                            <button class="btn btn-orange py-3 px-5" type="reset"> Annuler  </button>
                          </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 450px;">
                <div class="position-relative rounded overflow-hidden h-100">
                   <p> Trouvez l'adresse</p>

                    <iframe class="position-relative w-100 h-100"
                    src="https://maps.google.com/maps?width=100%25&height=400&hl=en&q=59%20p%C3%B4le%20technologique%20el%20gazella%20-tunis+(Global%20payement%20gateway)&t=&z=14&ie=UTF8&iwloc=B&output=embed"
                        frameborder="0" style="min-height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>