.border.rounded.p-4.wow.fadeInUp {
    max-width: 1800px;
    max-height: 4000px ;
    
}
.ps-3 {
    padding-left: 4rem!important;
    padding-top: 4rem;
 

}
.g-4, .gy-4 {
    --bs-gutter-y: 5.5rem;
}
