






<!-- end of masterslider -->
  
<div class="clearfix"></div>
<section class="sec-dummy-top-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2 class="raleway">QUI SOMMES NOUS </h2>
        <div class="title-line-4 less-margin align-center"></div>
        <p>Global Payment Gateway est considéré comme le premier prestataire de services paiements certifié PCI DSS de Visa et MasterCard en Afrique et au Moyen</p>
        <p>orient. GPG, le facilitateur de paiement en ligne, met à la disposition de ses clients tout son savoir faire, la synergie et l’expertise de toute son équipe de professionnels pluridisciplinaires.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<!--end item -->