
<!-- Page Header Start -->
<app-pageheader></app-pageheader>
<!-- Page Header End -->



<div class="container">

    <div class="featured-products">



        <div id="listeDynamiqueSite" class="left-content nine-column"  style="margin-top: 15px;margin-left:1px">








            <div class="single-service">

                <h5><p>
                        Les présentes conditions d'utilisation décrivent les conditions dans lesquelles la société Global Payment Gateway propose l'accès à ses sites, services, applications (notamment via appareils mobiles/tablettes ou tout autre support à venir) et outils.
                    </p></h5>
            </div>

            <div class="sec-heading">
                <h2>Introduction </h2>
            </div>

            <section id="columnsstyle" class="element">
                <div class="row">



                    <div class="col-md-6">
                        <p>Les présentes conditions d'utilisation décrivent les conditions dans lesquelles la société Global Payment Gateway propose l'accès à ses sites, services, applications (notamment via appareils mobiles/tablettes ou tout autre support à venir) et outils.</p>
                        <p>Quel que soit le pays où vous résidez, vous contractez avec la société Global Payment Gateway S.A (Société Anonyme), BP 59, Pôle Technologique El Ghazala 088 Ariana Tunisie.
                        </p>
                    </div><!-- 2 Column -->
                    <div class="col-md-6">
                        <p>Tous nos règlements ainsi que notre règlement sur le respect de la vie privée sont intégrés dans les présentes Conditions. En utilisant nos Services, vous acceptez l’ensemble des Conditions telles que ci-avant mentionnées.</p>
                        <p>Pour tout utilisateur enregistré, ces conditions sont en vigueur depuis le lancement de la société.
                        </p>
                    </div><!--2 Column -->

                </div>
            </section>

            <div class="sec-heading">
                <h2>Objet </h2>
            </div>


            <div class="single-service">
                <h5>
                    <p>
                        Global Payment Gateway est un prestataire de service paiement certifié PCI DSS. GpgCheckout est une solution de paiement destinée aux particuliers et aux professionnels : A travers un kit de paiement en ligne, GpgCheckout permet à tous ses utilisateurs d'offrir, de vendre ou d'acheter tout ce qu'il ou elle souhaite tout en respectant les réglementations imposées par VISA et MasterCard, dans une diversité de formats tarifaires et de lieux d'échange, tels que, entre autres, les boutiques, les mises en vente à prix fixe provenant de lieux différents. </p>
                </h5>
            </div>
            <div class="sec-heading">
                <h2>Conditions d'utilisation </h2>
            </div>


            <div class="left-content col-md-12">
                <ul id="myTab" class="search-tabs nav nav-tabs">
<a  data-toggle="tab" (click)="showprofessionnels()" style="margin-right: 100px;">Pour les professionnels</a><br>
                    <li class="active"><a  data-toggle="tab" (click)="showparticuliers()">Pour les particuliers</a></li>
                </ul>
                <!-- Selectors -->	</div>

                <div *ngIf="showprofessionnelsContent">

<section id="columnsstyle" class="element">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <p>1.GLOBAL PAYMENT GATEWAY, agissant en tant que « Payment Service Provider » (PSP), met à la disposition des professionnels (marchands désirant de vendre leurs biens et services en ligne) un service de paiement leur permettant d’envoyer, recevoir et gérer des transactions en ligne collectées à partir de leurs sites de commerce électronique, et de le communiquer aux Institution(s) Financière(s) pour le traitement des paiements, pour autant que ce choix soit disponible et compatible avec le service fourni par GLOBAL PAYMENT GATEWAY dans le cadre de l’exécution du Contrat Marchand.</p>
        </div>
        <div class="col-md-6">
          <p>2. La solution GpgCheckout ne comprend que le module de paiement défini, à l’exclusion de tout aspect commercial ou fonctionnel lié au processus de vente du marchand, tel que la gestion financière des transactions du Marchand. <br><br><br><br><br><br><br></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>3. GLOBAL PAYMENT GATEWAY fournit une interface de gestion via le web accessible au marchand et protégée par un login et un mot de passe, pour permettre à tout moment au marchand de prendre connaissance de son flux des transactions en ligne.</p>
        </div>
        <div class="col-md-6">
          <p>4. GLOBAL PAYMENT GATEWAY fournit une ressource pour gérer tout problème technique provenant de la solution GpgCheckout. La résolution d’un éventuel problème se fera dans les 24 heures qui suivent sa notification et ce pendant les horaires de travail administratifs. En dehors des horaires de travail, La résolution du problème ne dépasse pas les 72 heures.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>5. Si un problème provient des tiers intervenant dans l’opération de paiement (Banque, SMT, PTT) autre que la solution GpgCheckout, Global Payement Gateway s’engage à faire de son mieux pour résoudre le problème dans les plus brefs délais.</p>
        </div>
        <div class="col-md-6">
          <p>6. La notification d'un problème doit être signalée par E-mail suivie par un appel téléphonique.</p>
        </div>
      </div>
    </div>
  </section>
  
  

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Obligations marchand            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                
                <div class="row">
                    <div class="col-md-6">
                      <p>1. Toute demande de raccordement d’un site fera l’objet d’un avenant au contrat actuel.</p><br>
                      <p>3. Le marchand s’engage à respecter toutes les consignes techniques fournies par Global Payment Gateway et les institutions financières concernées pour implémenter toutes les procédures visant à sécuriser les transactions et à minimiser les répudiations ; les dites « procédures » incluant tous les nouveaux concepts dans ce domaine, disponibles sur le marché et que ce soit de façon standard ou spécifique et ce, sans limitation particulière.</p><br>
                      <p>6. Le marchand s’engage à communiquer à la demande de La Poste Tunisienne et à la banque, tout justificatif des opérations de paiement et de livraison.</p><br>
                    </div>
                    <div class="col-md-6">
                        <p>2. Le marchand s’engage à respecter les consignes techniques fournies par Global Payment Gateway pour installer et mettre à jour les pages et éléments nécessaires à la connexion à la solution GpgCheckout.  </p><br>
                <p>4. Le marchand s’engage à informer clairement les porteurs de cartes des procédures et conditions avec lesquelles ils peuvent utiliser leurs cartes pour le règlement de leurs achats de biens ou de services.</p>
                
                <p>5. Le marchand exonère Global Payment Gateway de toute responsabilité en cas de litiges commerciaux, et de leurs conséquences judiciaires ou financières.</p><br>
                <p>
                    7. Le marchand s’engage à respecter les conditions d’utilisation du système de paiement sécurisé via internet signé dans le contrat.</p><br>
                
                      </div>
                  </div>
                 <code></code> </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Conditions pour mettre en vente            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Lorsque vous mettez en vente un objet, 
              vous acceptez vous conformer aux Règles de mise en vente ainsi qu’à au Règlement sur les pratiques de vente. Vous acceptez également que :
               vous êtes responsable de l’exactitude, du contenu et de la légalité des objets mis en ventes en conformité avec le Règlement sur les objets interdits ou soumis à restrictions ;
                <code></code></div>




          </div>











          
        </div>


















        
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
         Promotion et Publicité
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Nonobstant les dispositions sur la confidentialité, les parties pourront citer leur collaboration pour toute action de publicité ou de promotion de leurs activités respectives. Cependant, si la communication projetée va au-delà de la seule mention de cette collaboration, la partie qui entend communiquer devra soumettre le contenu de sa communication (communiqué de presse ou tout autre élément promotionnel et/ ou de communication) à l’accord préalable et écrit de l’autre partie. En toute situation, les termes financiers du contrat devront demeurer confidentiels <code></code></div>
          </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Tarifs de GpgCheckout
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Les frais d’utilisation de la solution GpgCheckout sont à la charge du marchand et sont calculés sur l’ensemble des transactions réalisées mensuellement par l’intermédiaire de la solution GpgCheckout sur la base de ce qui est convenu et mentionné dans les conditions particulières de paiement du contrat<code></code> 

              </div> </div> </div> 
            
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Reversements                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                  
                      <div class="row">

                      <div class="col-md-6">
                        <p><strong>1.</strong> Le marchand peut faire une demande de reversement via l’interface marchand de GpgCheckout, et ce dans un délai de 7 jours minimum pour les cartes bancaires nationales et 15 jours minimum pour les cartes bancaires internationales et les cartes de la poste. Suite à cette demande, Global Payment Gateway s’engagera à payer les reversements des soldes disponibles après une vérification de ces dernières à travers les enregistrements informatique de la solution GpgCheckout.</p>
                      </div>
                      
                      <div class="col-md-6">
                        <p><strong>2.</strong> Seuls les enregistrements informatiques de la solution GpgCheckout de Global Payment Gateway font foi pour le calcul des paiements.</p>
                      </div>
                    </div>
                    
                    
                    <code></code>
    
                  </div> </div> 
                
                </div>
    
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        Tarifs de GpgCheckout                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body"> Les frais d’utilisation de la solution GpgCheckout sont à la charge du marchand et sont calculés sur l’ensemble des transactions réalisées mensuellement par l’intermédiaire de la solution GpgCheckout sur la base de ce qui est convenu et mentionné dans les conditions particulières de paiement du contrat<code></code> 
        
                      </div> </div> 
                    
                    </div>



                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingseven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                          Impayés carte bancaire                     </button>
                      </h2>
                      <div id="flush-collapseseven" class="accordion-collapse collapse" aria-labelledby="flush-headingseven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          
                          
                          
                          
                          
                          
                          <div class="accordion_content open">
                            <div class="single-service">


                              <p>
                                Les charges back et les remboursements seront pris en charge par le client dans les cas suivants:   
                            </p>
                            </div>

<section id="columnsstyle" class="element">
  <div class="row">
    <div class="col-md-6">

  <p>
    -  Activités non conformes  </p>
    <p>
      - Non livraison du produit et/ou service</p>


</div>
<div class="col-md-6">

  <p> - Paiement pour tiers (non autorisé)</p>

  <p>- Non-conformité du produit et/ou service à l’activité déclarée</p>
</div>

</div>

</section>

<p>Global Payment Gateway est tributaire des organismes de carte bancaires et des institutions bancaires et ne pourra être tenue responsable des conséquences d’une décision de ces organismes.

</p>





                          </div>
                          
                          
                          
                          
                          
                          <code></code> 
          
                        </div> </div> 
                      
                      </div>
  




                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingeight">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
                            Procédures de mise en service                    </button>
                        </h2>
                        <div id="flush-collapseeight" class="accordion-collapse collapse" aria-labelledby="flush-headingeight" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                            <div class="row">
                              <div class="col-md-6">
                          
                            <p>1. Signature du contrat par le client en deux exemplaires.
                            </p>
                            <p>3. Connexion au système GpgCheckout.

                            </p>
                              </div>
                              <div class="col-md-6">

                                2. Envoi du document d’intégration par Global Payment Gateway.


                              </div>

                            
                            </div>
                            
                            <code></code> 
            
                          </div> </div> 
                        
                        </div>




                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingnine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapsenine">
                              Clauses de confidentialité                     </button>
                          </h2>
                          <div id="flush-collapsenine" class="accordion-collapse collapse" aria-labelledby="flush-headingnine" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"> 
                              
                              
                              
                              
                              <div class="row">
                                <div class="col-md-6">
                            
                              <p>1. Le marchand et Global Payment Gateway ont l’obligation de considérer comme confidentiels les termes du présent contrat et plus généralement tout document ou information de quelque nature que ce soit, qui leur auront été communiqués ou dont elles auraient eu connaissance dans le cadre de leur collaboration. Les parties interdisent de divulguer à tout tiers tout document ou information susvisé et ce sous quelque forme que ce soit, sauf accord préalable et écrit de l’autre partie.

                                Seules les informations qui sont actuelles ou qui concerne le domaine public sans faute des parties, ne sont pas tenues pour confidentielles.
                                
                                Le présent article ne peut faire obstacle à l’obligation des parties de fournir tout renseignement ayant trait aux présentes dans le cadre d’une procédure judiciaire ou sur injonction d’une autorité judiciaire ou administrative.
                              
                              
                              </p>
                                </div>
                              
                                <div class="col-md-6">
                                  <p>2. Cette obligation de confidentialité est limitée à 12 mois (douze mois) après la cessation des relations entre les deux parties.</p>
                                </div></div>
                              
                              <code></code> 
              
                            </div> </div> 
                          
                          </div>
      
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingten">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
                                Durée de la convention                   </button>
                            </h2>
                            <div id="flush-collapseten" class="accordion-collapse collapse" aria-labelledby="flush-headingten" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body">
                                
                                
                                
                                
                                <div class="row">
                                <div class="col-md-6">
                            
                              <p>1. La présente convention prend effet à sa signature. Elle est conclue pour une durée de 12 mois.
                              </p>
                                </div>
                                <div class="col-md-6">
<p>2. Cette convention peut être résiliée par l’une des parties par lettre recommandée avec accusé de réception, en respectant un préavis de 3 (trois) mois, sauf conditions de cessation prévue dans l’article 10, sans que l’autre partie puisse prétendre à une indemnité quelconque de ce fait, autre que la clôture des comptes en cours.</p>
                              
                              
                                </div>
                              
                              
                              </div>
                                
                                
                                
                                
                                
                                <code></code> 
                
                              </div> </div> 
                            
                            </div>
        
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingeleven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeleven" aria-expanded="false" aria-controls="flush-collapseeleven">
                                  Résiliation anticipée                      </button>
                              </h2>
                              <div id="flush-collapseeleven" class="accordion-collapse collapse" aria-labelledby="flush-headingeleven" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">



                                  <div class="row">
                                    <div class="col-md-6">
                                
                                  <p>1. En cas de manquement par l’une des parties à tout ou partie de ses obligations au titre du présent contrat, et après mise en demeure notifiée par écrit restée en tout ou en partie sans effet 15 jours à compter de sa date d’envoi, l’autre partie pourra de plein droit résilier le présent contrat par lettre recommandée avec accusé de réception et ce, sans préjudice de tous dommages-intérêts.
                                    </p>
                                    </div>
                                  
                                    <div class="col-md-6">
<p>2. La résiliation du contrat est tacite lorsque le taux de fraude dépasse 1% du chiffre d’affaire.</p>
<p>3. La résiliation peut se faire suite à la demande de la banque, la poste ou de Visa et Master Card.</p>
                                    </div>

                                  </div>
                                  <code></code> 
                  
                                </div> </div> 
                              
                              </div>
          
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingtwelve">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsetwelve" aria-expanded="false" aria-controls="flush-collapsetwelve">
                                    Divers             </button>
                                </h2>
                                <div id="flush-collapsetwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingtwelve" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body"> 
                                    
                                   
                                  <div class="row">
                                    <div class="col-md-6">
                                
                                  <p>1. Le contrat comporte l’intégralité de l’accord des parties. Il annule et remplace tous les accords écrits et verbaux ayant pu exister antérieurement entre elles quant à son objet. </p>
                                  <p>3. Au titre des présentes, les parties considèrent comme transmission par écrit, toute transmission de document par courrier postal, par télécopie ou par courrier électronique.</p>
<p>5. Chaque partie s’oblige à informer par écrit l’autre partie de toute opération ayant pour objet ou effet de transférer ou céder, partiellement ou totalement, les droits et obligations issus du contrat (notamment fusion, cessions de fonds de commerce ou d’une branche d’activité, apport partiel ou total d’actif). En tout état de cause, dans ces hypothèses, le nouveau bénéficiaire du contrat devra l’exécuter dans des conditions équivalentes à celles auxquelles la partie concernée s’engage par les présentes.</p>
                                    </div>
                                  
                                    <div class="col-md-6">
<p>2. Si l’une ou plusieurs des dispositions du contrat, en totalité ou en partie, s’avérait nulle ou inopposable au regard du droit ou d’une loi en vigueur, elle serait réputée non écrite, mais n’entraînerait pas la nullité ou l’inopposabilité du contrat, à moins que l’une des parties ne démontre que la disposition en cause revêt un caractère déterminant sans lequel elle n’aurait pas contracté.</p>
           <p>4. Le fait pour l’une des parties de ne pas se prévaloir d’un manquement par l’autre partie à quelconque des obligations contractuelles ne saurait être interprété comme une renonciation à l’obligation en cause.</p>                       
                                    </div>

                                  
                                  </div>
                                    
                                    
                                    <code></code> 
                    
                                  </div> </div> 
                                
                                </div>




                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                      Loi applicable/ juridiques               </button>
                                  </h2>
                                  <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                      
                                      
                                      <p>
                                        Les deux parties conviennent que le contrat est soumis au droit Tunisien. Elles se déclarent d’accord, en cas de différend sur l’exécution et/ou sur l’interprétation du présent accord, d’épuiser toutes les possibilités de solution amiable entre elles, et à défaut de solution amiable, d’avoir recours aux tribunaux de Tunis.
                                      </p>
                                     
                                      
                                      
                                      
                                      
                                      <code></code> 
                      
                                    </div> </div> 
                                  
                                  </div>












            </div>


            





    </div>










    







    
</div>



                </div>



                
                <div *ngIf="showparticuliersContent">
<p>Les conditions relatives à l’utilisation de carte sont présumées applicables pour ces trois types de cartes :

</p>        



<div class="row">
  <div class="col-md-6">

<p>
  1. La carte bancaire VISA ou MasterCard</p>

<p>2. La carte de la poste Tunisienne</p>
  </div>
<div class="col-md-6">
  <p>3. La carte GP Pay de GpgCheckout

  </p>



  </div>





  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Protection des données personnelles        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> 
          
          
          
          
<div class="row">
  <div class="col-md-6">



    1. Données vous concernant : Les informations et données vous concernant – hors données bancaires – sont nécessaires à la gestion de votre compte et vos fonds et à nos relations commerciales. Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires et aux fins de nous permettre d’améliorer et de personnaliser les services que nous vous proposons et les informations que nous vous adressons. Conformément à la loi informatique et libertés du 6 janvier 1978 dans sa version en vigueur, vous disposez d'un droit d'accès, d’opposition et de suppression et de rectification aux données personnelles vous concernant.
  </div>

  <div class="col-md-6">
    2. Nous prenons l’engagement de :

    - Traiter les données à caractère personnel vous concernant conformément à la législation applicable aux traitements de données à caractère personnel, notamment en ce qui concerne la confidentialité et la sécurité desdites données.
    
    - Mettre en œuvre les mesures techniques et d'organisation appropriées pour assurer la sécurité des données à caractère personnel traitées dans le cadre du présent Contrat.

  </div>

</div>
          
          
          
          
          
          
          
          
          <code></code> </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Nos responsabilités
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>
            Nous sommes responsables des seuls dommages directs, en cas de faute prouvée par le Client. 
            En tout état de cause notre responsabilité est limitée au montant des recharges, aux frais de recharges et aux prix d’achat d’une commande encourus par le Client et dues au mauvais fonctionnement du système de GpgCheckout ou les systèmes sur lesquels Global Payment Gateway a un contrôle direct.
            Nous déclinons toute responsabilité pour tout dommage indirect, spécial ou incident et de tout préjudice moral.

        </p>

        <p>


          Nous déclinons toute responsabilité dans les cas suivants :


        </p>
                
<div class="row">
  <div class="col-md-6">
   <p> 1. Si, en dehors de toute erreur de notre part, vous n’avez pas une réserve de fonds suffisante sur une de vos Cartes pour permettre la réalisation d’une transaction ;</p>
   <p>4. Si votre carte fait l’objet d’une action en justice ou de tout autre nantissement limitant son utilisation ;</p>
   <p>

    6. Si des circonstances indépendantes de notre volonté (par exemple un incendie, une inondation ou une panne informatique ou de télécommunication, ou toute autre cause naturelle) empêchent la réalisation de la transaction, malgré les précautions raisonnables prises par nos soins ;
   </p>
  </div>
  <div class="col-md-6">
<p>2. Si un commerçant refuse d’accepter votre Carte ;
</p>
<p>3. Si un TPE par l’intermédiaire duquel vous effectuez une transaction ne fonctionne pas correctement;</p><br>

<p>5. Si nous avons des soupçons raisonnables de penser que la transaction demandée est illégale ou illicite ;</p><br>
<p>7. Toute autre situation exceptionnelle prévue par le Contrat.</p>

  </div>



</div>
          
          <code></code> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Vos responsabilités
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
                         
<div class="row">
  <div class="col-md-6">
   <p>
    1 .Vous devez prendre toute mesure raisonnable pour préserver la sécurité de vos Cartes et vous devez les utiliser conformément aux conditions régissant leur délivrance et leur utilisation. </p>

    <p>3. Le nombre d’essais successifs de composition du Code PIN est limité à trois (3) sur les appareils automatiques, avec le risque notamment de confiscation ou d’invalidation de la Carte au 3ème essai infructueux. Si votre carte est bloquée, veuillez appeler le service client pour la débloquer.</p>
    <p>5. Vous garantissez que les transactions que vous allez effectuer ne contreviennent pas à une quelconque disposition légale en vigueur.</p>
  </div>
  <div class="col-md-6">
<p>2. En particulier, vous vous engagez à prendre toutes les mesures propres à assurer la sécurité de vos Cartes, des numéros et Codes y afférents, à les tenir absolument secrets et ne pas les communiquer à qui que ce soit. Vous devez toujours veiller à composer le Code PIN confidentiel à l’abri des regards indiscrets.</p>

<p>4 .Vous êtes tenus d’utiliser les Cartes conformément à leur finalité.

</p>
<p>6. Vous devez nous signaler immédiatement toute perte ou vol de votre Carte ou de votre numéro de Carte.

</p>
  </div>

</div>
          <code></code></div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingfour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
          Causes de résiliation
        </button>
      </h2>
      <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-6">
             <p>Nous nous autorisons à tout moment de bloquer votre carte et solliciter sa restitution si une ou plusieurs des conditions suivantes sont remplies :


             </p>
            <p>1. Vous avez fournit des informations fausses sur votre identité ou votre adresse

            </p>
            <p>3. Les Cartes ont été utilisées pour effectuer une ou plusieurs transactions illégales ou en infraction avec le présent Contrat</p>
            
            </div>
          
            <div class="col-md-6">
<p>2. Vous n’avez pas communiqué dans les délais les documents nécessaires à un contrôle de lutte contre la fraude, le blanchiment d’argent ou le financement du terrorisme</p>
          
          <p>4. En cas de fraude ou de tentative de fraude de votre part</p>
            </div>

          </div>
          
          <code></code></div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingfive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
          Force majeure        </button>
      </h2>
      <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> 
          <p>Si le cas de force majeure se poursuit pendant plus de 3 (trois) mois, la carte est considérée comme une carte grillée automatiquement et sans formalités.</p>
          
          
          <code></code></div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingsix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
          Relation commerciale        </button>
      </h2>
      <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> 
                                   
<div class="row">
  <div class="col-md-6">
          <p>

            Dès lors que vous êtes devenu client, nous serons susceptibles de vous adresser nos offres commerciales par tout moyen et dès lors qu’elles nous sembleront de nature à vous intéresser.
          </p>
        </div>
        <div class="col-md-6">

          <p>
            Si vous ne souhaitez plus recevoir nos offres, vous pouvez à tout moment vous désinscrire à notre newsletter
          </p>
        </div>

      </div>

          <code></code> </div>
      </div>
    </div>




    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingseven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
          Réclamations
        </button>
      </h2>
      <div id="flush-collapseseven" class="accordion-collapse collapse" aria-labelledby="flush-headingseven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>Il appartient au Client de former toute contestation en relation avec sa carte GP PAY, pour signaler la perte, le vol ou encore le détournement ou toute utilisation non autorisée de sa Carte ou des données qui lui sont liées.

          </p>
          <code></code> </div>
      </div>
    </div>



    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingeight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
          Opérations de paiement        </button>
      </h2>
      <div id="flush-collapseeight" class="accordion-collapse collapse" aria-labelledby="flush-headingeight" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> 
                                         
<div class="row">
  <div class="col-md-6">  
          <p>
            1. Vous devez nous signaler sans tarder, par téléphone et par e-mail, toute opération de service non rendu dans un délai maximal de 3 mois après la date débit de votre compte donnant lieu à une réclamation
          </p>
          
  </div>
  <div class="col-md-6">  
<p>2. Dans le cas d’utilisation de votre carte GP PAY, pour réclamer vous devez nous communiquer votre nom et le numéro de votre carte ; détailler l’erreur ou la transaction sur laquelle vous avez un doute et expliquer les raisons qui vous font penser qu’il s’agit d’une fraude et/ou d’une contrefaçon ; communiquer le montant de la transaction litigieuse.</p>
  </div>

</div>
          <code></code> </div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingnine">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapsenine">
          Frais liés à l’utilisation de la carte        </button>
      </h2>
      <div id="flush-collapsenine" class="accordion-collapse collapse" aria-labelledby="flush-headingnine" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-6">  
                    <p>
                      Le client est présumé avoir accepté les opérations débitées de sa réserve de fonds (c’est-à-dire qui ne sont pas liées à l’utilisation de la Carte mais aux frais qu’elle engendre) en l’absence de réclamation de la part de celui-ci dans un délai de trente (30) jours à compter de la consultation de son relevé de solde.
                      </p>
                      </div>
                      <div class="col-md-6">  
<p>Toute réclamation relative à ces opérations devra être envoyée via l’espace réclamation dédié aux clients, dans les meilleurs délais et ce afin de permettre d’apprécier la réclamation et de statuer sur la suite à donner.</p>
                      </div>
                      </div>

          <code></code></div>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingten">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
          Sanctions        </button>
      </h2>
      <div id="flush-collapseten" class="accordion-collapse collapse" aria-labelledby="flush-headingten" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-6">  
                    <p>Tout usage abusif ou frauduleux d’une Carte ainsi que toute fausse déclaration est passible des sanctions, notamment pénales, prévues par la loi.

                      
                      Tous frais et dépenses réels engagés pour le recouvrement forcé des opérations sont à la charge du Client.
                    </p>
                  </div>
                  <div class="col-md-6">  
<p>
                                           
  Toute fausse déclaration ou usage abusif d’une Carte peut également entraîner la perte du solde disponible.
  </p>
                  </div>

                </div>
          
          <code></code></div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingeleven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeleven" aria-expanded="false" aria-controls="flush-collapseeleven">
          Remboursements        </button>
      </h2>
      <div id="flush-collapseeleven" class="accordion-collapse collapse" aria-labelledby="flush-headingeleven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> <p>
          La restitution d'un bien ou d'un service obtenu grâce à votre Carte bancaire, de la poste ou GP PAY ne peut faire l'objet d'une demande de remboursement auprès du commerçant que s'il y a eu préalablement une transaction débitée. Si un accord est trouvé entre le Client et le commerçant, ce dernier pourra actionner le terminal de paiement pour initier l'opération de remboursement. Les sommes créditées sur votre Carte au titre du remboursement seront disponibles au plus tard à la fin du jour ouvré suivant le jour de la réception de l’ordre de paiement.
        </p><code></code> </div>
      </div>
    </div>













  </div>








  


  
</div>



















</div>



        </div>





