
<app-pageheader></app-pageheader>



<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of getBoutiqueDataForPage(currentPage);index as i">
            <div class="boutiquebox  mt-3 mb-3">
                <img src="{{fd.boutiqueImg}}" />
                <h1>{{fd.boutiquetitle}}</h1>
                <p>{{fd.boutiquelink}}</p><br>
                <a class="buybtn" [routerLink]="['/detailsboutiques',fd.id]">Read More  &nbsp;<i class="bi bi-bag"></i></a>

            </div>
        </div>
    </div>
</div>
<div class="pagination">
    <button class="btn" [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1">Previous</button>
    <button class="btn" *ngFor="let page of getPageNumbers()" [class.active]="currentPage === page" (click)="currentPage = page">{{page}}</button>
    <button class="btn" [disabled]="currentPage === getTotalPages()" (click)="currentPage = currentPage + 1">Next</button>
  </div>

