<app-pageheader></app-pageheader>


    <!-- consulting section start -->
    <div class="consulting_section layout_padding">
      <div class="container">
         <h1 class="what_text" style="color: #E93C05;">Gpg Checkout</h1>
         <div class="consulting_section_2">
            <div class="row">
               <div class="col-sm-6">
                  <p class="lorem_text_1">est une solution de paiement électronique destinée à tout marchand désirant intégrer le mode de paiement en ligne.
                    <br>
                    Gpg Checkout offre à ses marchands la diversité de paiement par carte bancaire nationale tunisienne, par carte bancaire internationale, par carte de la poste tunisienne ainsi que le porte monaie éléctronique GP Pay.
                  </p>
               </div>
               <div class="col-sm-6">
                  <div class="image_8"><img src="../../../assets/img/service-1.jpg"></div>
               </div>
            </div>
         </div>
      </div>
   </div>


