


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="background-image: url('/assets/img/slide.jpg'); background-size: cover;">
       
      <div class="container">
          <h1 class="display-3 mb-4 animated slideInDown">
          </h1>
          <nav aria-label="breadcrumb animated slideInDown">
              <ol class="breadcrumb mb-0">
     
              </ol>
          </nav>
      </div>
  </div>
  <!-- Page Header End -->


  <!-- Contacts Start -->
  
  <!-- Contacts-- End -->

<!--
  desi
-->



<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(23, 89%, 63%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(23, 91%, 64%) 15%,
          hsl(18, 87%, 50%) 35%,
          hsl(18, 90%, 53%) 75%,
          hsl(36, 92%, 62%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(32, 92%, 49%) 15%,
          hsl(220, 26%, 91%) 35%,
          hsl(25, 94%, 60%) 75%,
          hsl(25, 84%, 56%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#df6c1a, #f5f7fa);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#d15614, #edeeef);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(240, 11%, 2%)">
          Inscription client
          <br />
          <span style="color: hsl(218, 33%, 95%)">Vous êtes accro au paiement en ligne?

          </span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(0, 0%, 8%)">
          Vous adorez les opportunités et les promos des sites de vente en ligne?<br>
          Venez vous inscrire  et bénéficier d'un espace particulier pour:
          <ul style="color: hsl(240, 3%, 7%)">
              <li>Suivre vos achats en ligne</li>
              <li>Déposer vos réclamations et vos questions</li>
              <li>Bénéficier d'une panoplie de sites garantis par GPG</li>
            </ul>

     
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                  <div class="form-outline mb-4">
                      <div class="form-outline">
                      <label for="numeroCompte" class="form-label">Numéro de compte (CLT)</label>
                      <input type="text" class="form-control" id="numeroCompte" name="numeroCompte" required>
                  </div>
                </div>
               
              </div>

            

              <!-- Password input -->
              <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4">Mot de passe</label>

                <input type="password" id="form3Example4" class="form-control" />
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4" style="margin-left: -20px;">
                  <div class="mb-3">
                     <a href="#" style="color: #E93C05;"
                     >Mot de passe oublié ?</a>
                  </div>
             </div>

              <!-- Submit button -->
              <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block  float-right" >
                     Se connecter
                  </button>
               </div>
               <div class="text-center">
               
                      <a routerLink="/register" style="color: #E93C05;"
                      >s'inscrire</a>
               </div>

              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->




  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
          class="bi bi-arrow-up"></i></a>

