
<!-- Carousel Start -->
<app-carousel></app-carousel>
<!-- Carousel End -->


<!-- About Start -->
<app-about></app-about>
<!-- About End -->
<app-features></app-features>





<app-aboutnav></app-aboutnav>

>
<!-- Facts Start -->
<app-facts></app-facts>
<!-- Facts End -->

<!-- Service Start -->
<app-service></app-service>
<!-- Service End -->


<!-- Callback Start -->
<app-callback></app-callback>
<!-- Callback End -->


<!-- Projects Start -->
<app-projects></app-projects>
<!-- Projects End -->


