

  <div class="clearfix"></div>
  
  <section class="parallax-section39">
    <div class="section-overlay bg-opacity-7">
      <div class="container sec-tpadding-2 sec-bpadding-2">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2 class=" raleway text-white">POURQUOI GPGCHECKOUT ?
            </h2>
            <div class="title-line-4 white less-margin align-center"></div>
            <p class="sub-title-2">Quelques raisons pour lesquelles les gens nous choisissent !</p>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-3 col-sm-6 text-center">
            <div class="feature-box59 bmargin">
              <div class="image overflow-hidden"><img src="/assets/img/ll.jpg" width="150" height="150"></div>
              <div class="clearfix"></div>
              <br/>
              <h4 class="text-white raleway">Simple et  Claire</h4>
              <p>Facile à comprendre, à utiliser et à exécuter.
                Solution précise et parfaitement intelligible. </p>
            </div>
          </div>
          <!--end item-->
          <div class="col-md-3 col-sm-6 text-center">
            <div class="feature-box59 bmargin">
              <div class="image overflow-hidden"><img src="/assets/img/gg.jpg" alt="" class="img-responsive"  width="150" height="150"/></div>
              <div class="clearfix"></div>
              <br/>
              <h4 class="text-white raleway">Ergonomique</h4>
              <p> Solution innovante et de qualité permettant une meilleure adaptation Tache / Poste. </p>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 text-center">
            <div class="feature-box59 bmargin">
              <div class="image overflow-hidden"><img src="/assets/img/ddd.jpg" width="150" height="150"></div>
              <div class="clearfix"></div>
              <br/>
              <h4 class="text-white raleway"> Complète </h4>
              <p>Solution qui répond totalement à la diversité des besoins. </p>
            </div>
          </div>
          <!--end item-->
          
          <div class="col-md-3 col-sm-6 text-center">
            <div class="feature-box59 bmargin">
              <div class="image overflow-hidden"><img src="/assets/img/nn.jpg" width="150" height="150"> </div>
              <div class="clearfix"></div>
              <br/>
              <h4 class="text-white raleway"> Innovante</h4>
              <p>Solution unique, suit les innovations technologiques, fait sens pour la cible, l’entreprise et l’écosystème. </p>
            </div>
          </div>
          <!--end item--> 
          
        </div>
      </div>
    </div>
  </section>