.p {

  justify-content: center;
  align-items: center;
  display: inline;
    text-align: center;

   
  }
  
  .p {
    display: inline;
}
.single-service{
font-family: verdana;
    font-size: 14px;
    letter-spacing: .4px;
    line-height: 30px;
    margin-top: 10px;
    text-align: justify;}