<app-pageheader></app-pageheader>

    <h1 class="what_text" style="color: #E93C05;">Gpg Checkout</h1>

    <p class="card-text">GP Pay est un porte monnaie électronique proposé par Global Payment Gateway qui permet de réaliser des transactions en ligne facilement et en toute sécurité.C’est un dispositif électronique qui permet aux internautes d’effectuer leurs transactions de paiement en ligne sans recourir à la saisie de leurs informations bancaire (numéro carte et CVV) GP Pay permet aux inscrits de charger leurs comptes et de payer facilement leurs achats sur les sites web e-commerce
        <div class="benefits">
          <h2 style="color: orangered;">Avantages Marchand:</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="benefit-item">
                <p><i class="fas fa-check"></i> Bénéficier du savoir-faire et de l'expérience d'un véritable professionnel : Conseil et garantie de paiement en ligne</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i> Améliorer la visibilité du marchand sur Internet et booster ses ventes en ligne</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i>Lutter contre la volatilité des clients tout en leur offrant la possibilité de payer à travers le web et TPE en toute sécurité</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i>Bénéficier de fonctionnalités complètes : un seul back office pour gérer simultanément tous les flux transactionnels bancaires et postaux, en temps réel.</p>
              </div>
           


              <div class="benefit-item">
                <p><i class="fas fa-check"></i>Un seul kit regroupant le paiement par carte, paiement TPE et paiement porte monnaie</p>
              </div>

            </div>
            


            
            <div class="col-md-6">
              <div class="benefit-item">
                <p><i class="fas fa-check"></i>Relancer les clients par e-mail et ce via le module "Mailtopay" avec un lien direct de paiement sécurisé</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i>Gérer les réclamations des clients, Consulter l'historique des transactions effectuées ainsi que leurs états (payé, en attente ou refusé)</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i>Avoir un outil stratégique d'aide à la décision qui permet au marchand de visualiser les flux des ventes intervenues de la banque, de la poste et du TPE</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i>Bénéficier d'un module anti-fraude permettant de détecter les clients risqués, Classer les clients par catégorie de risque</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i>Bénéficier de taux de paiement avantageux</p>
              </div>




            


            </div>
          </div>
        </div>
        <div class="benefit-item">
          <p>La première à être intéressée par le client final, GPGCheckout offre aux internautes la possibilité de s’inscrire sur sa plateforme et suivre en temps réel leurs transactions pour profiter d’un suivi détaillé de leurs opérations d’achat en ligne ainsi qu’un espace client pour toute réclamation.</p>
        </div>


        <div class="benefits">
          <h2 style="color: orangered;">Avantages Client :</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="benefit-item">
                <p><i class="fas fa-check"></i> Une interface de suivi des transactions</p>
              </div>



              
              <div class="benefit-item">
                <p><i class="fas fa-check"></i> Un espace de suivi des réclamations</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i> Une possibilité de se faire rembourser en cas de non conformité du produit</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="benefit-item">
                <p><i class="fas fa-check"></i> Recharger son compte virtuel et acheter en toute sécurité dans un réseau de marchands de confiance agrée GPG</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i> Transférer de l'argent (d'un compte client à un compte client)</p>
              </div>
              <div class="benefit-item">
                <p><i class="fas fa-check"></i> Etre à jour et informé des nouveaux sites en ligne.</p>
              </div>
            </div>
          </div>

        </div>
      


  