.orange-icon {
    color: orange;
  }
  .description {
    margin-bottom: 20px;
  }
  
  div[style="max-width: 150px;"] {
    margin-bottom: 10px;
    
  }
  .border-warning.p-2 {
    margin-bottom: 10px;
  }
  .text-orange {
    color: #696969; /* définir la couleur de texte souhaitée */
    font-size: 16px; /* définir la taille de texte souhaitée */
  }
  



  .orange-icon {
    color: orange;
  }





  .accordion-button {
    background-color: #ee860f;
    color: rgb(7, 6, 6);
  }



