

<div class="gallery">
  <div class="images">
    <div *ngFor="let page of imagePages">
      <div class="row">
        <div *ngFor="let image of page" class="col-sm-3">
          <img src="{{image}}">
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <a *ngFor="let pageNumber of pageNumbers"
       href="#"
       class="page-link"
       [class.active]="currentPage === pageNumber"
       (click)="setCurrentPage(pageNumber)">
      {{pageNumber}}
    </a>
  </div>
</div>
