<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="faLocation"></fa-icon>
    </div>
    <div class="value">
      <div class="top">32</div>
      <div class="bottom">sites</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faShop"></fa-icon>
    </div>
    <div class="value">
      <div class="top">295</div>
      <div class="bottom">transaction</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faBoxes"></fa-icon>
    </div>
    <div class="value">
      <div class="top">4574</div>
      <div class="bottom">societe</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <fa-icon [icon]="faMoneyBill"></fa-icon>
    </div>
    <div class="value">
      <div class="top">346928</div>
      <div class="bottom">Totale chiffre d'affaire</div>
    </div>
  </div>
</div>
