
<body>
  

    <!-- Navbar Start -->
    <app-navbar></app-navbar>

    <!-- Navbar End -->


    <!-- Page Header Start -->
  <app-pageheader></app-pageheader>
    <!-- Page Header End -->


    <!-- About Start -->
    <app-about></app-about>

    <!-- About End -->

    <app-aboutnav></app-aboutnav>

    <!-- Facts Start -->
    <app-facts></app-facts>

    <!-- Facts End -->


    <!-- Team Start -->
    <app-team></app-team>

    <!-- Team End -->


    <!-- Footer Start -->
    <app-footer></app-footer>

    <!-- Footer End -->


    <!-- Copyright Start -->
    <app-copyright></app-copyright>

    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
            class="bi bi-arrow-up"></i></a>


  
</body>

