<app-pageheader></app-pageheader>


    <!-- consulting section start -->
    <div class="consulting_section layout_padding">
      <div class="container">
         <h1 class="what_text" style="color: #E93C05;">Global Payment Gateway</h1>
         <div class="consulting_section_2">
            <div class="row">
               <div class="col-sm-6">
                  <p class="lorem_text_1">Pionnier dans son domaine, Global Payment Gateway est considéré comme le premier prestataire de services paiements certifié PCI DSS de Visa et MasterCard en Afrique et au Moyen orient. GPG, le facilitateur de paiement en ligne, met à la disposition de ses clients tout son savoir faire, la synergie et l’expertise de toute son équipe de professionnels pluridisciplinaires.
                  </p>
               </div>
               <div class="col-sm-6">
                  <div class="image_8"><img src="../../../assets/img/service-1.jpg"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
