div[style="max-width: 150px;"] {
    margin-bottom: 10px;
    
  }
  .border-warning.p-2 {
    margin-bottom: 10px;
  }
  
.p {
  color: #828282;
  font-family: verdana;
  font-size: 13px;
  line-height: 22px;
  text-align: justify;
}




