<app-pageheader></app-pageheader>




<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 text-center">
      <ul class="nav flex-column side-tabs tabs-left">
        <div class="border border-warning p-2  mx-auto description" style="max-width: 150px; height:170px;">                <a class="nav-link" data-toggle="tab"  (click)="showSolutionecommerce()">
            <img class="img-icon-grey mx-auto d-block" src="https://www.gpgcheckout.com/images/solution.png">
            <p class="text-orange m-0 text-center">Solution e-commerce</p>
          </a>
        </div>
        <div class="border border-warning p-2 description mx-auto" style="max-width: 150px; height:170px;">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab"  (click)="showServicecompletdepaiement()">
              <img class="img-icon-grey mx-auto d-block" src="https://www.gpgcheckout.com/images/modules.png">
              <p class="text-orange m-0 text-center">Sécurité et garantit</p>
            </a>
          </li>
        </div>
        <div class="border border-warning p-2 mx-auto" style="max-width: 150px; height: 170px;">
          <a class="nav-link" data-toggle="tab"  (click)="showkitpaiement()">
            <img class="img-icon-grey mx-auto d-block" src="https://www.gpgcheckout.com/images/plus.png">
            <p class="text-orange m-0 text-center">Kit de paiement</p>
          </a>
        </div>
        <div class="border border-warning p-2 mx-auto" style="max-width: 150px; height: 170px;">
          <a class="nav-link" data-toggle="tab"(click)="showcyberacheteur()">
            <img class="img-icon-grey mx-auto d-block" src="https://www.gpgcheckout.com/images/service.png">
            <p class="text-orange m-0 text-center">Cyberacheteur</p>
          </a>
        </div>
      </ul>
    </div>




    <div class="col-md-9">
      <div class="tab-content">
        <div class="tab-pane active" id="home">























<div class="row" style="text-align: center;">

<div class="col-md-12">

          <div *ngIf="showSolutionecommerceContent">



           
<img src="https://www.gpgcheckout.com/images/kit-1.png">
<p class="title-kit">Créez un compte professionnel</p><br><p class="title-kit">
Cette étape vous permet de créer un compte dans l'environnement d'homologation, nécessaire pour l'intégration de GpgCheckout.</p><img src="https://www.gpgcheckout.com/images/kit-2.png"><p class="title-kit">Configurez votre compte professionnel</p>
<p>Remplissez le formulaire de création de compte et précisez l'url de la boutique en ligne, son adresse et la dénomination sociale puis cliquez sur 'Valider'. Après validation admin, votre vous recevrez vos identifiants de connexion par e-mail.</p><br><img src="https://www.gpgcheckout.com/images/kit-3.png"><p class="title-kit">Intégrer votre Kit GpgCheckout</p><br><p>Renseignez vos identifiants pour vous connecter. Une fois identifié, il ne vous reste plus qu'à suivre étape par étape les indications du guide d'intégration. Cela vous permettra d'intégrer GpgCheckout.</p>



</div>
   
            
      
   










      <div class="tab-pane" *ngIf="showServicecompletdepaiementContent">








<p style="font-size: 18px; font-weight: bold; color: #E93C05; display: inline-block; margin-right: 10px;">Modules e-Shop

</p>
<p>GpgCheckout est disponible sur les modules e-commerce suivants :
</p>
<div class="row" style="text-align: center;">

<div class="col-md-3">

  <img src="https://www.gpgcheckout.com/images/module/magento.png">
</div>

<div class="col-md-3">
  <img src="https://www.gpgcheckout.com/images/module/prestashop.png">
</div>


<div class="col-md-3">
  <img src="https://www.gpgcheckout.com/images/module/joomla.png">
</div>


<div class="col-md-3">
  <img src="https://www.gpgcheckout.com/images/module/wordpress.png">
</div>

</div>


<div class="row" style="text-align: center;">


  <div class="col-md-3">
  <img src="https://www.gpgcheckout.com/images/module/Zen-Cart.png">
</div>



<div class="col-md-3">
  <img src="https://www.gpgcheckout.com/images/module/virtuemart.png">
</div>




<div class="col-md-3">
  <img src="https://www.gpgcheckout.com/images/module/opencart.png">
</div>


<div class="col-md-3">
  <img src="https://www.gpgcheckout.com/images/module/woocommerce.png">
</div>
<div class="row" style="text-align: left ;">

<span class="titleiconedetails" style="text-align: left ;color: #E93C05;">Kits d'intégration</span>

<p style="float: left;"> Notre kit d'intégration est sous forme d’un submit de formulaire facilitant  le développement informatique que vous allez devoir réaliser pour intégrer la solution de paiement GpgCheckout sur votre site.</p>
</div>





<div class="row" style="text-align: center;">

  <div class="col-md-12">
   <img src="/assets/img/php.png" width="200">
  </div>
 
 </div>
</div>





      </div>





    </div>



  </div>
















      <div class="tab-pane" *ngIf="showkitpaiementContent">
        <style>
          #processus {
            color: orange;
          }
        </style>
        <h5>
              <span class="titleiconedetails" id="processus">Processus de paiement</span></h5>
              <div class="accordion-body">Le système de paiment en ligne de global paiement gateway se base sur un serveur de paiement securisée et certifiée PCI/DSS par visa et master card qui permet d’offrir les autorisations sur les cartes de paiement locales ou etrangere dans un environement securisé
                Ci-dessous le processus de paiement sur GPGcheckout :<br>
                <div style="text-align: center;">
                  <img src="https://www.gpgcheckout.com/images/module/prcessus.png">
                </div>
                                <div class="row">
                <div class="col-md-6">
                  <ul class="theme-list pull-left">
                    <li>1. Le cyberacheteur choisit son panier sur le site marchand partenaire de GPG et passe au paiement</li>
                    <li>3. GpgCheckout renvoie le porteur vers la page du processeur, spécifique au mode de paiement choisi préalablement, pour saisir ses données bancaires et valider le paiement</li>
                    <li>4'. GpgCheckout envoie au marchand :
                      <br>- Une notification serveur-serveur lui indiquant l’état de la transaction afin de mettre à jour l’état de la transaction au niveau de son back office.
                      <br> - Un e-mail de confirmation de paiement</li>
                   
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="theme-list pull-left">
                    <li>2. Le site marchand envoie l’acheteur à la page paiement de GPG pour choisir le mode de paiement (CB, PT, GP Pay) avec le récapitulatif panier et ses coordonnées</li>
                    <li>4. Après soumission du formulaire, l’acheteur est redirigé vers la page GpgCheckout où il peut cliquer sur le bouton 'Retour au site marchand' pour continuer son shopping en ligne</li>
                    <li>4''. GpgCheckout envoie un e-mail de confirmation de paiement pour l’acheteur</li>
                  </ul>
                </div>
              </div>
            </div>













        
              </div>
        








<div class="tab-pane" *ngIf="showcyberacheteurContent">

  <h5>MON COMPTE GPGCHECKOUT</h5>
  <SPAN class="titleiconedetails" style="color: #ed6a18">

    1.Comment souscrire à GpgCheckout ?
  
  </SPAN>
  
  <p style="float: left;">
    Pour bénéficier de notre solution, enregistrez-vous gratuitement via l'espace professionnel sur le site www.gpgcheckout.com et laissez-vous guider dans les différentes étapes. Choisissez le kit convenable à votre site et télécharger-le en attendant de recevoir les accès de connexion Prod et Pré-prod de la part de notre responsable intégration.
  </p>
  
  <br>
  <SPAN class="titleiconedetails" style="color: #ed6a18">
    2. Combien de temps cela prend-il pour que mon compte soit validé ?
  </SPAN>
  <p style="float: left;">
  
  L'enregistrement de votre compte marchand se fait en quelques secondes via notre site internet. Une fois que nous aurons reçu le formulaire de souscription et l'avenant technique au contrat que vous aurez reçus par email, votre compte est activé dans un délai de 48 heures
  </p>
  
  <br>
  <SPAN class="titleiconedetails" style="color: #ed6a18">
    3. Comment réinitialiser un mot de passe perdu ou un compte bloqué ?
  </SPAN>
  <p style="float: left;">
    Utiliser le lien mot de passe oublié? A partir de notre plateforme dans le menu ‘Espace professionnel’ / Connexion / mot de passe oublié.: Pour être valide sachez que le mot de passe doit contenir :
    <br>- Un mélange de lettres minuscules et majuscules, de chiffres et de caractères spéciaux
    <br>- Au moins 8 caractères
    <br>- Des mots non faciles à deviner
  </p>
  <div class="title-tab">
    <h5>GESTION DES KITS ET INTEGRATION</h5>
  </div>
  <SPAN class="titleiconedetails" style="color: #ed6a18">
    1. Avec quels kits GpgCheckout peut-il être interfacé ?
  </SPAN>
  <p style="float: left;">
    Des kits de développements vous permettent d'interfacer votre site avec GpgCheckout. Ils sont disponibles en PHP. Des plus, nous proposons des kits s'interfaçant avec des modules e-shop les plus courantes :
    <br>- PrestaShop
    <br>- OS Commerce
    <br>- Joomla: VirtueMart
    <br>- Joomla: en-masse
    <br>- Magento
    <br>- ZenCart
    <br>- Drupal
    <br>- Opencart
    <br>- Wordpress : Woo Commerce
    <br>- … Retrouvez l'ensemble des modules e-shop dans notre onglet Intégrez /Modules e-shop & Kits d'intégration</p>
    <br>
    <SPAN class="titleiconedetails" style="color: #ed6a18">
      2. Comment installer le module e-shop dans mon application e-commerce ?
    </SPAN>
  
    <p>
   Chaque module e-shop est accompagné d'un manuel d'intégration pour vous permettre d'installer rapidement et facilement le module.</p>
     
  
     <SPAN class="titleiconedetails" style="color: #ed6a18">
        3. La mise en place du paiement sécurisé en ligne de GpgCheckout est-elle complexe ?
      </SPAN>
    <p>
      En moins d'une demi-journée, vous avez la possibilité d'intégrer le module GpgCheckout en mode test au sein de votre site web. Une assistance technique est à votre disposition via mail, téléphone ou Skype répondant à toutes vos questions.
    </p>
  
    <div class="title-tab">
      <h5>MES PAIEMENTS
      </h5>
    </div>
  
  
    <p>
      GpgCheckout permet aux e-commerçants d'accepter les moyens de paiement suivants :
      <br>- CB
      <br>- VISA
      <br>- Master Card
      <br>- La Poste Tunisienne : e-dinars universelle, e-dinars Smart,
      <br>- GP Pay</p>
  
      <SPAN class="titleiconedetails" style="color: #ed6a18">
  
        2. Quels sont les outils de suivi des paiements sécurisés mis à disposition ?
      
      </SPAN>
  
  <p>GpgCheckout met à votre disposition une interface de back-office rafraîchie en temps réel : le centre d'administration marchand. Cette interface de consultation et de gestion de vos transactions est accessible à tout moment via Internet (login / mot de passe). Cette console vous permet de gérer vos paiements, de consulter vos historique de paiement (Web, TPE, GP Pay), annulation, remboursement, réclamations…etc</p>
  
  
  
  <SPAN class="titleiconedetails" style="color: #ed6a18">
  
    3. Peut-on avoir un contrat GpgCheckout rattaché à plusieurs comptes bancaires dans des banques différentes?
  
  </SPAN>
  
  <p>Oui, les offres GpgCheckout sont multi-boutiques et multi-contrats. Vous avez ainsi la possibilité d'utiliser plusieurs comptes bancaires dans les banques de votre choix.
  </p>
  <div class="title-tab">
    <h5>LUTTE CONTRE LA FRAUDE
  
    </h5>
  </div>
  
  
  <SPAN class="titleiconedetails" style="color: #ed6a18">
  
    1. GpgCheckout permet-il de lutter contre la fraude ?
  
  </SPAN>
  
  <p>Un module de Lutte contre la fraude est intégré à notre solution GpgCheckout. Nous pouvons prévenir les tentatives d'achats frauduleuses. Ce module permet de définir des règles de prévention, de bloquer les achats depuis certains pays grâce à notre système de localisation via l'adresse IP de l'internaute, de mettre des cartes en liste "rouge" etc...</p>
  
  






















</div>
        






























    </div>   
  </div>

  </div>
