<div class="transactions">
  <div class="title">Last few transactions</div>
  <table class="table table-striped table-bordered mx-auto">
    <thead class="thead-dark">
      <tr>
        <th>N° Trans</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date</th>
        <th>Montant</th>

        <th>résultats
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transactionData; index as i">
        <td>{{ item.idTransaction }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.givenName }}</td>
        <td>{{ item.datetransaction }}</td>
        <td>{{ item.montant }}</td>

        <td>{{ item.result }}</td>

      </tr>
      
    </tbody>

  </table>
</div>
