<div class="nav-items">
  <div class="nav-item">
    <a [routerLink]="['/transaction']">
      <fa-icon [icon]="faDashboard" class="dashboard-icon"></fa-icon>
      <span class="transaction-link">Transactions</span>
    </a>
  </div>
  <div class="nav-item">
    <a [routerLink]="['/user']">
      <fa-icon [icon]="faDashboard" class="dashboard-icon"></fa-icon>
      <span class="transaction-link">Users</span>
    </a>
  </div>
  <div class="nav-item">
    <a [routerLink]="['/site']">
      <fa-icon [icon]="faDashboard" class="dashboard-icon"></fa-icon>
      <span class="transaction-link">Sites</span>
    </a>
  </div>
  
</div>
